body{
    background-image:url('../img/bg.png');
    width:100%;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    color:#343434;
    line-height: 18px;
    font-size:14px;
    background-color:#ededef;
    margin:0;
    padding:0;
}
a {
    color:#c33;
    text-decoration: none;
    font-weight:bold;
}
.header
{
    top:0;
    left:50%;
    margin-left:-450px;
    line-height:30px;
    font-family:Arial;
    font-weight:bold;
    font-size:28px;
    text-align:center;
}
.galogo
{
    width:30px;
    height:30px;
    display:block;
    background-image:url('../img/ga_30x30.png');
    float:left;
    margin-right:20px;
}
.smallBox
{
    width:850px;
    height:60px;
    display:block;
    position:relative;
    z-index:100;
    top:0;
    left:50%;
    margin:25px 0 0 -400px;
}
.basicBox
{
    width:850px;
    padding:25px;
    height:60px;
    display:block;
    position:relative;
    z-index:100;
    top:0;
    left:50%;
    margin-left:-450px;
}
.bigBox
{
    height:200px;
    font-size:24px;
    line-height:30px;
    text-align:center;
    border-bottom: 1px solid #999;
}
.findFile
{
    width:278px;
    height:30px;
    display:block;
    float:left;
    overflow:hidden;
    border:1px solid #999;
    box-shadow:inset -1px 1px 2px rgba(68,68,68,0.5);
    background-color:rgba(239,239,239,0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:0;
    margin-right:40px;
}
.formLabel
{
    height:30px;
    width:120px;
    margin-right:10px;
    text-transform:uppercase;
    line-height:30px;
    display:block;
    float:left;
    text-align: right;
}
.seriesOut
{
    width:800px;
    height:300px;
    display:block;
    margin-top:50px;
    background-position:center center;
    background-repeat: no-repeat;
    text-align:center;
    line-height:60px;
    font-size:45px;
    text-shadow:0px 1px 0px #efefef;
    border-bottom:1px solid #999;
}
input
{
    width:150px;
    display:block;
    overflow:hidden;
    float:left;
    height:30px;
    font-size:20px;
    line-height:30px;
    border:1px solid #999;
    box-shadow:inset -1px 1px 2px rgba(68,68,68,0.5);

}
.support
{
    width:850px;
    height:46px;
    padding-top:10px;
    text-align: center;
    display:block;
    position:relative;
    z-index:100;
    top:0;
    left:50%;
    margin-left:-425px;
    line-height:16px;
}
.panel
{
    width:45%;
    height:36px;
    font-size:10px;
    line-height: 12px;
    display:block;
    text-align:left;
}
.left
{
    float:left;
}
.right
{
    float:right;
}

.nav
{
    list-style-type: none;
    margin:0;
    padding:0;
    float:right;
}
.nav li
{
    margin:0;
    float:left;
    width:30px;
    height:30px;
    margin-right:25px;
    display:block;
}
.noright
{
    margin-right:0;
}
.nav li a
{
    width:30px;
    height:30px;
    display: block;
}
.icon
{
    background-image:url('../img/sprites.png');
    width:30px;
    height:30px;
    display:block;
    cursor:pointer;
}
.em
{
    background-image:url('../img/email.png');
}
.wb
{
    background-image:url('../img/web.png');
}
.gt
{
    background-image:url('../img/github.png');
}
.fb
{
    background-position: 0px 0px;
}
.tw
{
    background-position: -30px 0px;
}
.fl
{
    background-position: -60px 0px;
}
.vm
{
    background-position: -90px 0px;
}
.gp
{
    background-position: -120px 0px;
}
.li
{
    background-position: -150px 0px;
}